{
    "extend": ["eslint:recommended"],   
    "parser": "babel-eslint" 
     // 必须指定解析器，否则错误难消    "env": {"amd": true,"es6": true,"browser": true,"node": false},    "rules": {        // 添加各类校验规则    }}
}